<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MySuite" parallel="tests" thread-count="2">
    <test name="ChromeTest">
        <classes>
           <!-- <class name="testCases.UserRegistrationValidationTestIT"/> -->
            <class name="testCases.validateRegistrationPageValidationMessagesIT"/>
        </classes>
    </test>
</suite>