<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MySuite" parallel="tests" thread-count="2">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
           <class name="testCases.validateUserRegistrationIT"/>
            <!-- <class name="testCases.validateRegistrationPageValidationMessagesIT"/>-->
        </classes>
    </test>
</suite>